{
    "root": true,
    "extends": ["eslint:recommended", "plugin:jsdoc/recommended"],
    "rules": {
        "jsdoc/require-param-description": "off",
        "jsdoc/require-returns-description": "off"
    },
    "env": {
        "es2022": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": ["jsdoc"]
}
